
@column1: 210px;
@import 'base/colors';
@import 'base/reset';
@import 'base/typography';
@import 'base/mixins';

// components
@import './../client/modules/**/*.less';
@import "./components/table.less";


*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}
body {
    background: @background;
    overflow: hidden;
    height: 100%;
}
#jsx-app {
    overflow: hidden;
    height: 100%;
}

.root {
    overflow: auto;
    min-height: 100%;
    position: relative;
    &.noscroll {
        overflow: hidden;
    }
}

title {
    display: block;
}

.actions {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    //height: 40px;
    
    z-index: 99999;
    
    background: white;
    color: darkgrey;
    border-bottom: 1px solid gray;
    
    .action {
        display: inline-block;
        font-size: 1.5em;
        margin: 3px 1em;
        &:hover {
            cursor: pointer;
            color: black;
        }
        line-height: 10px;
        i {
            display: block;
            text-align: center;
        }
        label {
            margin-top: -1em;
            font-size: 9px;
        }
    }
}

.row {
    margin: 0 -8px 0 -8px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    
    & > * {
        margin-right: 3px;
        
        &.race {
            color: @accent;
        }
        &.profession {
            color: @effect;
        }
        &.xp {
            color: @shine;
        }
        
    }
    wrapper {
        margin: 0;
        & > span {
            margin-right: 3px;
        }
    }
    .stat {
        display: inline-block;
        width: 27px; 
        text-align: center;
        margin-right: 0;
    }
    .total {
        display: inline-block;
        width: 21px; 
        text-align: center;
        margin-right: 0;
        font-size: 11px;
    }
    .title {
        font-weight: bold;
        margin-right: 3px;
    }
    
    &:hover {
        background: lighten(lightgray, 10%);
    }
    
    &.selected {
        background: @accent;
        color: white;
    }
    &.selected.accent {
        background: @effect;
        color: white;
    }
}

.tile {
    border: 1px solid @accent;
    position: relative;
    background: @accent;
    width: 80px;
    height: 80px;
    display: inline-block;
    color: white;
    cursor: pointer;
    margin: 0 10px 10px 0;
    
    &:hover {
        background: @effect;
        border-color: @effect;
    }
    
    &.selected {
        @d: darken(@effect, 10%);
        background: @d;
        border-color: @d;
    }
    
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.noscroll {
    overflow: hidden;
}

.grid {
    display: flex;
    overflow-x: hidden;
    * {
        flex: 1;
    }
}

.field {
    margin-bottom: 0.5em;
    display: flex;
    
    label {
        flex: 1;
        
        &:after {
            content: ':';
        }
    }
    
    input, textarea {
        flex: 4;
        border: 1px solid lightgray;
        outline: none;
        
        &:focus {
            outline: 2px solid lightblue;
        }
    }
    
    input[type="number"] {
        width: 50px;
        text-align: center;
        
    }
    
    textarea {
        height: 8em;
    }
    
    
    &.stacked {
        label {
            flex: none;
            width: 45px;
        }
        input, textarea {
            flex: none;
            margin-left: 1em;
        }
    }
    
    &.spread {
        * {
            &:first-child {
                flex: 4;
            }
            flex: 1;
        }
        
        &--evenly {
            
            * {
                flex-grow: 0;
                flex-shrink: 1;
            }
            
            input { width: 40px; }
            span { 
                display: inline-block; 
                margin: 0 5px;
                
                &:first-child {
                    width: 200px;
                }
            }
        }
    }
    
}


.btn {
    display: inline-block;
    padding: 5px;
    border: 1px solid lightblue;
    i {
        display: inline-block;
        margin-right: 5px;
    }
    &:hover {
        background: @effect;
        color: white;
        cursor: pointer;
    }
    margin-bottom: 1em;
    margin-left: 2px;
}


.choices {
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
    padding: 0.5em 0;
    
    .choice {
        flex: 0 0 33%;
        padding: 3px;
        
        .title {
            font-weight: bold;
            margin-right: 5px; 
            &:after {
                content: ":"
            }
        }
        
        &:first-child {
            flex: 0;
            text-align: center;
            font-weight: bold;
            font-family: fantasy;
            font-size: 2em;
            vertical-align: middle;
        }
        
        &.selected {
            background: @accent;
            color: white;
        }
        &:hover:not(.selected) {
            background: @effect;
            color: white;
        }
    }
}


@import './print';