

@page {
    size: A4;
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 0;
}

@media print {
    html, body, #jsx-app, .root {
        visibility: hidden;
        margin: 0!important;
        padding: 0!important;
        height: 100%;
        width: 100%;
        overflow: visible!important;
        border: none;
    }
    
    .page-container, .page {
        visibility: visible;
        margin: 0!important;
        border: none;
    }
    .page-container {
        visibility: visible;
        padding: 0;
    }
    
    input {
        border: none;
        background: transparent;
        margin-top: 3px;
        padding-left: 2px;
        font-size: 16px;
    }
}
