

.page-three {
    position: relative;
    font-size: 9px;
    
    .container {
        border: 1px solid lightgray;
        padding: 1em;
        margin: 0.5em;
    }

    .expertise-breakdown {
        position: absolute;
        width: 200px;
        height: 80px;
    }
    
    .hp-breakdown {
        position: absolute;
        width: 200px;
        left: 230px;
        height: 80px;
    }
    
    .feats-breakdown {
        position: absolute;
        width: 412px;
        top: 107px;
    }
    
    .statistics-breakdown {
        position: absolute;
        left: 442px;
        width: 316px;
        height: 106px;
        
        table {
            
            th {
                text-transform: uppercase;
                padding: 0 0.5em;
            }
            
            th, td {
                text-align: center;
            }
            
        }
    }
    
    
    .row {
        .title {
            font-weight: bold;
            width: 50px;
        }
    }


}