

.page-three {
    position: relative;
    font-size: 9px;
    
    .container {
        border: 1px solid lightgray;
        padding: 1em;
        margin: 0.5em;
    }

    .expertise-breakdown {
        position: absolute;
        width: 236px;
        height: 106px;
    }
    
    .hp-breakdown {
        position: absolute;
        width: 200px;
        left: 264px;
        height: 106px;
    }
    
    .feat-description {
        position: absolute;
        width: 372px;
        top: 136px;
        height: 410px;
    }
    
    .statistics-breakdown {
        position: absolute;
        left: 472px;
        width: 285px;
        height: 106px;
    }
    
    .feat-breakdown {
        position: absolute;
        left: 402px;
        width: 356px;
        height: 360px;
        top: 136px;
        height: 410px;
    }
    .skill-breakdown {
        position: absolute;
        width: 372px;
        top: 556px;
        height: 200px;
    }
    
    
    .row {
        .title {
            width: 50px;
        }
    }
     
    table {
        width: 100%;
        th {
            text-transform: uppercase;
            padding: 0 0.3em;
        }
        th, td {
            text-align: center;
            &.left {
                text-align: left;
                margin-left: 0;
                padding-left: 0;
            }
            &:first-child {
               white-space: nowrap;
            }
        }
    }
}