

.page {
    height: 29.7cm;
    width: 21cm;
        
    margin-top: 1cm;
    
    background: @background-page;
    
    .bordered();
    
    &:last-child {
        margin-bottom: 2cm;
    }
    
    .page-content {
        padding: 2em;
    }
}