
.weapons {
    
    .bordered();
    
    font-size: 9px;
    
    width: 370px;
    height: 121px;
    padding: 1em;
    
    position: absolute;
    left: 389px;
    top: 745px;
    
}


.weapon-container {
    display: flex;
    height: 100%;
    
    &__list {
        flex: 1;
    }
    
    &__details {
        flex: 3;
        overflow-y: auto;
        
        title {
            display: block;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
        }   
        
        .fa {
            cursor: pointer;
        }
    }
}