

.equipment {
    
    width: 368px;
    
    position: absolute;
    top: 346px;
    left: 390px;
    
    font-size: 12px;    
 
    .equipment-item {
        padding-bottom: 7px;
        border-bottom: 1px solid @border;
        
        .location {
            text-transform: uppercase;
            &:before {
                content: "[";
            }
            &:after {
                content: "]";
            }
        }
        .title {
            font-weight: bold;
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
        }
        .description {
            
        }
        
    }   
}