

.no-border() {
    border: none;
}
.input-hover(@pointer) {
    &:hover, &:focus {
        outline: 3px solid lightblue;
    }
    
    & when (@pointer = true) {
        cursor: pointer;
    }
}

.page-one__page-header {
    background: url(/images/character-info.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    height: 175px;
    width: 100%;
    
    position: relative;
    
    &__name {
        position: absolute;
        left: 16px;
        top: 97px;
        font-size: 25px;
        width: 203px;
        text-align: center;
        
        .no-border();
        .input-hover(false);
    }
     
    &__race {
        position: absolute;
        left: 246px;
        top: 116px;
        
        .input-hover(true);
    }
    
    &__level {
        position: absolute;
        left: 246px;
        top: 73px;
    }
    
    &__profession {
        position: absolute;
        left: 266px;
        top: 73px;
        
        .input-hover(true);
    }
}