@start: 390px;
@next: 98px;
@top: 669px;

.page-one {
    position: relative;
    .ap-offense {
        top: @top;
        left: @start;
    }

    .ap-defense{
        top: @top;
        left: (@start + @next);
    }

    .ap-recovery {
        top: @top;
        left: (@start + (@next * 2));
    }

    .ap-dmg {
        top: @top;
        left: (@start + (@next * 3));
    }
}