
.center-X() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
@margin-top-start: 17px;
@margin-top: 80px;

.character-statistics {
    background: url(/images/statistics-container.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    font-family: fantasy;
    
    position: absolute;
    top: 209px;
    //left: 58px;
    left: calc(1cm + 10px);
    
    width: 75px;
    height: 312px;
       
    
    &__str {
        position: absolute;
        top: @margin-top-start;
    }
    &__agi {
        position: absolute;
        top: @margin-top-start + @margin-top;
    }
    &__inu {
        position: absolute;
        top: @margin-top-start + @margin-top * 2;
    }
    &__per {
        position: absolute;
        top: @margin-top-start + @margin-top * 3;
    }
    
    .statistic {
        width: 99%;
        .bonus {
            .center-X();
            font-size: 24px;
        }     
        .total {
            .center-X();
            top: 35px;
            font-size: 12px;
        }   
    }
    
}