.xp-info {
    position: absolute;
    top: 157px;
    left: 679px;
    width: 68px;
    
    input {
        position: absolute;
        right: 0;
        top: 0;
        display: inline;
        width: 40px;
    }
    
}